@page "/"
<h1>Expresión IMPLICITA</h1>
<br />
<h3>Hola @nombre.ToUpper(),que tal</h3>
<br />
<h3>Hola @Mayuscula("pepe"),que tal</h3>

@code
{
    string nombre = "Ian";

    private string Mayuscula(string valor)
    {
        return valor.ToUpper();
    }
}