@page "/nuevapagina"
<h3>NUEVA PAGINA</h3>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    BOTON DESPLEGABLE
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">ACCIÓN</a></li>
    <li><a class="dropdown-item" href="#">OTRA action</a></li>
    <li><a class="dropdown-item" href="#">ALGUNA OTRA COSA</a></li>
  </ul>
</div>
@code {

}
